.menuContainer {
    margin-bottom: 20px;
}

.addCategoryContainer {
    padding: 0 30px;
}

.iconContainer {
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}