.qrCodeProgressBarContainer {
    // border-bottom: 7px dotted;
    
}

.userInfoProgressBarContainer {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: space-around;
}