.loaderContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.listContainer {
    padding: 15px 30px;
    font-family: 'Avenir Next Cyr';
    font-weight: normal;
    font-style: normal;
    margin-bottom: 30px;
}