.button {
    color: black;
    height: 25px;
    display: flex;
    width: 65px;
    text-align: center;
    align-items: center;
    font-size: small;
    justify-content: center;
    font-family: 'Avenir Next Cyr';
    font-weight: normal;
    font-style: normal;
}

.greenBackground {
    background-color: #04AA6D;
    color: white;
    
}